
/* GOOGLE FONTS */

/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* :ROOT */
:root{
    --primeira-cor: #fff;
    --segunda-cor: #ffffff;
    --terceira-cor: #040303;
    --gradient-color1:#3A4E48;
    --gradient-color2: #6A7B76;
}

header{
    height: auto;
    background-color: var(--terceira-cor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--segunda-cor);
}

.logo {
    color: var(--primeira-cor);
    border-radius: 50%;
    background: #fff;
    width: 60px;
    height: 60px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo h1{
    color: #000000;
}

.menu {
    display: flex;
}
.menu ul{
    display: flex;
}
ul li{
    list-style-type: none;
}
ul li a{
    text-decoration: none;
    color:var(--gradient-color1);
    margin: .625rem;
    font-size: 1.25rem;
}
/* Conteúdo Principal */
main{
    background-color: var(--terceira-cor);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteudo-principal {
    width: 80%;
    display: block;
}
.conteudo-principal h1{
    font-size: 3.75rem;
    margin: .625rem;
    background: linear-gradient(60deg, var(--gradient-color1), var(--gradient-color2));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.conteudo-biografia{
    display: flex;
}
.biography {
    height: 10rem;
    width: 50%;
    display: flex;
    align-items: center;
}
.biography img{
    width: 100px;
    height: 80%;
}
.text-biography{
    width: 90%;
    padding: .625rem;
}
.text-biography h2{
    color: var(--gradient-color1);
}
.text-biography p{
    color: var(--segunda-cor);
}

.icons-contact {
    height: 10rem;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}
.icons-contact h2{
    width: 100%;
    text-align: center;
    margin-top: 10px;
    color: var(--gradient-color1);
}
.icons-01{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    ;
}
@media screen and (max-width: 600px){
    .conteudo-principal{
        width: 90%;
    }
    .conteudo-biografia {
        display: flex;
        flex-wrap: wrap;
    }
    .biography {
        width: 100%;
        height: auto;
    }
    .biography img{
        margin: .3125rem;
    }
    .text-biography {
        margin: 0;
    }
    /* icons */
    .icons-contact {
        width: 90%;
    }
    .icons-contact {
        height: 10rem;
        width: 10%;
        display: flex;
        flex-wrap: wrap;
    }
    .icons-contact h2{
        width: 100%;
        text-align: start;
        margin-top: 10px;
        color: var(--segunda-cor);
    }
    .icons-01{
        height: 40px;
        width: 100%;
        display: flex;
        justify-content: start;
    }
    
}

/* 2º */
aside{
    min-height: 100vh;
    background: var(--segunda-cor);
}
/* 3º */
article{
    min-height: 10vh;
    background: var(--terceira-cor);
}

/* 4º */
section{
    min-height: 100vh;
    background: var(--gradient-color1);
}
/* 5º */
footer{
    min-height: 20vh;
    background: var(--terceira-cor);
}




article h1{
    font-size: 3.125rem;
    color: var(--terceira-cor);
    text-align: center;
}
.container-about-me {
    border: 2px solid rgba(165, 42, 42, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 75vh;
   
}
.content1-about-me {
    border: 5px solid rgb(0, 0, 0);
    border-radius: .625rem;
    height: 65%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--segunda-cor);
    box-shadow: 10px 10px 20px 0 #090000;
}
.content1-about-me img{
    width: 70%;
    height: 100%;
   
}
.content2-about-me {
    border: 2px solid rgba(238, 130, 238, 0);
    height: 23rem;
    width: 50%;
}
.content2-about-me h1{
    font-size: 6vh;
    align-items: center;
    text-align: center;
    color: #000000;
    
}
.content2-about-me h3{
    text-align: center;
    font-size: 50px;
    color: var(--terceira-cor);
    
    
}
.content2-about-me p{
    font-size: 1.875rem;
    margin: .3125rem;
    color: var(--terceira-cor);
}
/* Botão */

.content3-about-me {
    border: 2px solid rgba(0, 0, 0, 0);
    height: 40px;
    height: auto;
    padding: .9375rem;
}
.content3-about-me p{
    font-size: 1.875rem;
    color: var(--terceira-cor);
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 600px){
    .container-about-me{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .content1-about-me{
        border: .125rem solid var(--terceira-cor);
        width: 50%;
        display: flex;
        justify-content: center;
    }
    .content1-about-me img{
        width: 60%;
        height: 60%;
    }
    .content2-about-me{
        display: block;
        width: 100%;
    }
    .content2-about-me h3{
        font-size: 1.25rem;
    }

    .content3-about-me{
        margin-top: 60px;
        padding: .4375rem;
        display: block;
    }
    .content3-about-me p{
        font-size: 1.875rem;
        margin: 0      
    }
    #btn-02{
        margin-top: 30px;
        margin-left: .5rem;
    }
}

/* Services */
section{
    min-height: auto;
    background: var(--terceira-cor);
}
.container-services {
    display: block;
    min-height: 30vh;
}
.content01-services {
    text-align: center;
    border: .125rem solid var(--terceira-cor);
    padding: 1.625rem;
}
.content01-services h1{
    font-size: 3.125rem;
    color: var(--segunda-cor);
}
.content01-services h2{
    font-size: 1.875rem;
    color: var(--segunda-cor);    
}
.content01-services p{
    font-size: 20px;
    color: var(--terceira-cor);
    
}
.content01-services img{
    border: 2px solid rgba(252, 252, 252, 0);
    width: 3.5rem;
    height: 3.5rem;
    
}
.content01-services a {
    color: #ffffff;
    margin: 0 20px;
    font-size: 50px;
}



.content02-services {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.content-02-boxs {
    margin-top: 1.25rem;
    border: 4px solid var(--terceira-cor);
    border-radius: .212rem;
    width: 19.625rem;
    height: 19.625rem;
}

/* Icons services */
.services-block1 {
    border: 3px solid var(--segunda-cor);
box-shadow: 5px 5px 10px 0 #fcfffe;
    border-radius: 5px 5px 0px 0px;
    height: 90%;
    margin: 2px;
}
.services-block1 img{
    border: 2px solid rgba(0, 255, 225, 0);
    width: 100%;
    height: 50%;
    
}
.services-block1{
    text-align: center;
    color: #ffffff;
}
.services-block1 h6{
text-align: center;
font-size: 20px;
margin: 5px;
color: #ffffff;
}
.services-block2 {
   
    background: var(--ternary-color);
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services-block2 h2{
    color: #ffffff;
}
.services-block9 {
    border: 3px solid var(--ternary-color);
    border-radius: 5px 5px 0px 0px;
    height: 30%;
}
.services-block9 img{
    border: 2px solid rgb(0, 255, 225);
    width: 50%;
    height: 100%;
}
.services-block9{
    text-align: center;
    color: #999;
}
.services-block2 {
    border: 2px solid var(--);
    background: var(--);
    height: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-block2 h2{
    color: var(--);
}


.content03-services{
    height: auto;
    text-align: center;
}



/* Contact Us */
.container-contact-us {
    min-height: 100vh;
    background: var(--segunda-cor);
}
.contact-us {
    border: 2px solid rgba(255, 0, 0, 0);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.content1-contact-us {
    width: 50%;
    height: auto;
    margin-top: .625rem;
}
.content1-contact-us h1{
    color: var(--segunda-cor);
    text-align: center;
    font-family: Source Code Pro;
    font-size: 2.5rem;
}
.content1-contact-us p{
    color: var(--segunda-cor);
    font-family: Source Code Pro;
    margin: .625rem;
}
.box07{
    border: 2px solid rgb(0, 0, 0);
    background-color: #000000;
    width: 90%;
    height: 90%;
}
/* Fomrulario */
form{
    height: auto;
    margin: .625rem;
}
label{
    font-size: 30px;
    color: var(--segunda-cor);
}
input[type="text"],
input[type="email"]{
    width: 100%;
    height: 50px;
}
textarea{
    height: 130px;
    width: 100%;
}
#btn-05{
    height: 3.125rem;
    width: 7.5rem;
    margin-top: .625rem;
    background: transparent;
    color: rgb(255, 255, 255);
    border: .125rem solid var(--segunda-cor);
}
#btn-05:hover{
    position: relative;
    cursor: pointer;
    background:rgb(154, 154, 142);
    border: .125rem solid var(--segunda-cor);
    color: var(--primary-color);
    transition: all .15s;
}


/* Conteudo do lado do formulario */
.content2-contact-us {
    width: 50%;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.content2-contact-us-boxs{
    width: 250px;
    height: 50%;
    display: block;
}
.content2-contact-us-boxs img{
    height: 2.5rem;
    width: 2.5rem;
}
.content2-contact-us-boxs h2{
    color: var(--gradient-color2);

}
.content2-contact-us-boxs h3{
    color: var(--secondary-color);
}
.content2-contact-us-boxs p{
    color: #ffffff;
}



@media screen and (max-width:600px){
    .contact-us {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .content1-contact-us{
        width: 100%;
    }
    .content2-contact-us{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        margin: .625rem;
    }
    .content2-contact-us-boxs{
        width: 50%;
    }
}


/* Footer */
.site-footer {
    border: .125rem solid var(--ternary-color);
    background: var(--primary-color);
    padding: 30px 0;
    text-align: center;
}

.site-footer p {
    margin-bottom: 10px;
    color: var(--segunda-cor);
}

.footer-links {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.footer-links li {
    display: inline;
    margin: 0 10px;
}

.footer-links li a {
    color: var(--segunda-cor);
    text-decoration: none;
}
.social-icons img{
    width: 2.5rem;
    height: 2.5rem;
}
.social-icons a {
    color: #333;
    margin: 0 20px;
    font-size: 50px;
}

.social-icons a:hover {
    color: #007bff;
}


